{% extends "base.html" %}
{% block content %}
<h1 style="color:blue"align="center">Blog posts!</h1>
<hr />
{% if blogs|length == 0 %}
    <p align="center">This individual has yet to make a blog.</p>
{% else %}
    {% for blog in blogs | reverse %}
    <h3 align="center"><a href="/blog?id={{ blog.id }}">{{ blog.title }}</a></h3>
    <p align="center">{{ blog.body }}</p>
    {% for user in users %}
        {% if blog.owner_id == user.id  %}
            <p align="center" style="font-size: small">Made by <a href="/blog?user_id={{blog.owner_id}}">{{ user.username }}</a></p>
        {% endif %}
    {% endfor %}
    <hr />
    {% endfor %}
{% endif %}
{% endblock %}